@charset "UTF-8";

body {
    background-color: rgb(118, 118, 238);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

select {
    width: 200px;
}

section {
    background-color: white;
    margin: auto;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.582);
}